* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

#selector {
    width: 100%;
    visibility: hidden;
}

.main-div {
    font-family: "Franklin Gothic Medium", Arial, sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: large;
    color: palevioletred;
}

.subtitle-div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: palevioletred;
}

iframe {
    object-fit: cover;
    margin: 50px;
}

.buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 75px;
    width: 150px;
    margin: 50px;
}

.yes-button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.yes-button:hover, .yes-button:focus {
  background-color: #F082AC;
}

.no-button {
  background-color: antiquewhite;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.confetti {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: fill;
}