* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-light:  rgb(255,240,212);
  --bg-dark:  rgb(255,231,188);
  --text: 19, 19, 19;
}

html {
  scroll-behavior: smooth;
}

body {
    width:100%;
    height: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: var(--text-);
    overflow: hidden;
}

/* NAVIGATION */
#navbar {
  height: 10vh;
  background-color: orange;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 4px 9px #888888;
}

.nav-portrait {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s, visibility 0.8s;
}

.nav-portrait--visible {
  visibility: visible;
  opacity: 1;
  animation: appear 1s linear 1;
}

@keyframes appear {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.nav-portrait img {
  height: 8vh;
  max-width: 100%;
  border-radius: 50%;
  margin-right: 12px;
  margin-left: 15px;
}

.nav-portrait p {
  font-size: 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text);
  align-self: center;
}

.nav-links {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.nav-link, .dash {
  margin-right: 15px;
  font-size: 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text);
  align-self: center;
}

.nav-link:hover, .nav-link--clicked {
    color: white;
}

/* SECTIONS */

/* WELCOME/ABOUT */
#welcome-section {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  background: linear-gradient(90deg, var(--bg-light) 0%, var(--bg-dark) 100%);
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
}

.welcome-container {
    width: 30vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.--reveal {
  margin-bottom: 100px;
}

#portrait {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin-right: 12px;
}

#name {
    font-size: 50px;
}

#bio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

.slider {
    height: 20px;
    overflow: hidden;
    margin-left: 5px;
}

.slider div {
    margin-bottom: 20px;
    height: 20px;
    box-sizing: border-box;
    width: max-content;
}

.slider-text1 {
    background: lightgreen;
    animation: slide 7s linear infinite;
}

.slider-text2 {
  background: skyblue;
}

.slider-text3 {
  background: lightcoral;
}

@keyframes slide {
  0% {margin-top: -120px;}
  5% {margin-top: -80px;}
  33% {margin-top: -80px;}
  38% {margin-top: -40px;}
  66% {margin-top: -40px;}
  71% {margin-top: 0px;}
  100% {margin-top: 0px;}
}

#bio-expander {
  font-size: 20px;
}

.icons {
  display: flex;
  position: fixed;
  bottom: 3vh;
  z-index: 1;
  transition: 0.3s;
}

.icons--invisible {
  opacity: 0;
  visibility: hidden;
}

.icon {
  height: 5vh;
  width: 5vh;
  margin-left: 35px;
  margin-right: 35px;
}

.icon-card {
  height: 5vh;
  width: 5vh;
}

/* PROJECTS */

#project-section {
  display: flex;
  padding-top: 10vh;
  background: linear-gradient(90deg, var(--bg-light) 0%, var(--bg-dark) 100%);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 30vw);
}

.project-grid-item {
  height: 30vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
}

.project-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-grid-item .project-label {
  position: absolute;
  background: rgba(var(--text), 0.8);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  bottom: 0;
  padding: 15px;
  color: var(--bg-dark);
  font-size: 20px;
  overflow: hidden;
  transition: 0.5s;
}

.project-grid-item h3 {
  margin-bottom: 20px;
}

.project-grid-item .project-label:hover {
  height: 100%;
  align-items: flex-start;
}

.project-grid-item .label-body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project-grid-item p {
  font-size: smaller;
}

.project-grid-item a {
  color:  var(--bg-dark);
}

.project-grid-item .tech-stack {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
}

.tech-element {
  margin-right: 10px;
  background: var(--bg-dark);
  color:  rgba(var(--text), 1);
  border-radius: 5px;
  padding: 5px;
}

/* CONTACT */

#contact-section {
  display: flex;
  padding-top: 10vh;
  background: linear-gradient(90deg, var(--bg-light) 0%, var(--bg-dark) 100%);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
}

.contact-card {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  height: 50vh;
  width: 15vw;
  margin: 35px;
  padding-top: 25px;
  padding-left: 12px;
  padding-right: 12px;
  align-items: center;
  background-color: var(--bg-dark);
  box-shadow: 0px 4px 9px #888888;
  text-align: center;
  transition: 0.3s;
}

.contact-card p {
  font-size: large;
}

.contact-card a, .contact-card a:visited {
  text-decoration: none;
  color: var(--text);
}

.contact-card:hover {
  transform: translateY(-16px);
}

.card-div {
  border: 0.2px solid #888888;
  opacity: 0.5;
  width: 80%;
  margin: 25px;
}

.card-link {
  position: absolute;
  bottom: 15px;
}